@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config './tailwind.config.js';


@layer components {
    .fi-dropdown-panel {
        background: white;
    }
    .fi-sidebar-header {
        background: white;
        border-right: 1px solid #E6EFF5;
    }
    .fi-sidebar-nav {
        @apply bg-white !px-2;
        border-right: 1px solid #E6EFF5;
    }
    .fi-topbar, .fi-modal-window {
        background: white;
    }

    .fi-sidebar-group-items {
        @apply flex flex-wrap !gap-y-3;
    }

    .fi-sidebar-item {
        @apply h-[50px] !pr-3;
    }

    .fi-sidebar-item a {
        @apply ml-6;
    }

    .fi-sidebar-item-active {
        @apply bg-transparent text-primary-600 !flex-row items-center;
    }

    .fi-sidebar-item-active a {
        @apply bg-transparent ml-5;
    }

}

@theme {
    --color-purple-300: '#8C86FF';
    --color-purple-500: '#4C49ED';
    --color-green-200: '#DCFAF8';
}
